@import "color.less";
html,
body {
  background-color: @defaultBGColor;
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 1200px;
  font-family: 'PingFangSC-Regular', arial, '\5fae\8f6f\96c5\9ed1', '\5b8b\4f53', sans-seri;
}

ul{
  padding: 0;
}

dl, dd{
  margin: 0;
}

p{
  margin: 0;
}
