@import "color.less";
html,
body {
  background-color: @defaultBGColor;
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 1200px;
  font-size: 14px;

  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  -webkit-font-smoothing: antialiased;
}

ul{
  padding: 0;
}

dl, dd{
  margin: 0;
}

p{
  margin: 0;
}
