@import "color.less";
html,
body {
  background-color: @defaultBGColor;
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 1200px;
  font-size: 14px;

  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  -webkit-font-smoothing: antialiased;
}

ul{
  padding: 0;
}

dl, dd{
  margin: 0;
}

p{
  margin: 0;
}
.search-area {
  .el-input{
    width: 200px;
    height: 32px;
  }
}

textarea {
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
}

.change-view .el-input--small .el-input__inner {
  height: 42px;
  line-height: 32px;
}

.color-picker{
  .el-color-picker--small .el-color-picker__trigger{
      height: 42px;
      width: 42px;
  }
  .el-color-picker__trigger {
    border: 1px solid #cdcdcd;
  }
}